@model BusinessLayer.Models.Appointments.AppointmentViewModel

@{
    ViewData["Title"] = "CancelAppointment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>Randevuyu iptal etmek üzeresiniz.</p>
<hr/>
<div>
   
    
    <dl class="row">
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateTime)
        </dd>
       
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SalonName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SalonName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SalonCityName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SalonCityName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SalonAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SalonAddress)
        </dd>
       
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServiceName)
        </dd>
        
       
    </dl>
</div>
<div>
    <form method="post">
        <button type="submit" class="btn btn-outline-danger"
                asp-area="" asp-controller="Appointments" asp-action="DeleteAppointment" asp-route-id="@Model.Id">
            Randevuyu iptal et.
        </button>
    </form>
    <div class="ml-5">
        <a class="btn btn-outline-success" asp-area="" asp-controller="Appointments" asp-action="Index">İptal etme.</a>
    </div>
</div>
