@model IEnumerable<BusinessLayer.Models.Appointments.AppointmentViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>Yaklaşan randevularım : (@Model.Count())</p>

<table class="table">
    <thead>
        <tr>
            
            <th>
                @Html.DisplayNameFor(model => model.DateTime)
            </th>
           
            
            <th>
                @Html.DisplayNameFor(model => model.SalonName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SalonCityName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SalonAddress)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.ServiceName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Confirmed)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            
            <td>
                @Html.DisplayFor(modelItem => item.DateTime)
            </td>
            
            
            <td>
                @Html.DisplayFor(modelItem => item.SalonName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SalonCityName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SalonAddress)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.ServiceName)
            </td>
            <td>
                @if (item.Confirmed == true)
                {
                    <span>Onaylandı.</span>
                }
                else if (item.Confirmed == false)
                {
                    <span>İptal edildi.</span>
                }
                else
                {
                    <span>Onay Bekliyor.</span>
                }
            </td>
            
            <td>
                <a 
                   asp-area="" asp-controller="Appointments" asp-action="CancelAppointment" asp-route-id="@item.Id">
                    İptal et.
                </a>
            </td>
        </tr>
}
    </tbody>
</table>

<hr/>
@await Component.InvokeAsync("PastAppointments")